#div1 {
    background-color: rgba(95, 158, 160, 0.849);
}
#div2 {
    background-color: rgba(107, 179, 182, 0.849);
}
#div3 {
    background-color: rgba(114, 193, 195, 0.849);
}
#div4 {
    background-color: rgba(116, 191, 194, 0.849);
}
#div5 {
    background-color: rgba(117, 188, 190, 0.849);
}
#div6 {
    background-color: rgba(119, 196, 199, 0.849);
}
#div7 {
    background-color: rgba(121, 200, 202, 0.849);
}
#div8 {
    background-color: rgba(123, 211, 214, 0.849);
}
#div9 {
    background-color: rgba(125, 216, 219, 0.849);
}

